.App {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.loader {
  margin-top: 10px;
}

.error {
  color: red;
  margin-top: 10px;
}

.bold {
  font-weight: 600;
}

.container{
  border: 1.5px solid black;
  border-radius: 5px;
  width: 50vb;
  overflow-wrap: break-word;
  margin: auto;
  padding: auto;

  
}
.datalist{
  display: flex;
  align-items: center;
  justify-content: space-between;
}